DATABASE_URL=
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
ADMIN_GITHUB_LOGIN=richardphoenix
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
GITHUB_REPO_OWNER=richardphoenix
GITHUB_REPO_NAME=x-chinese-spam-blocker
GITHUB_BLOCKLIST_PATH=blocklist/blocklist.json
GITHUB_BRANCH=main
