DATABASE_URL=
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
ADMIN_GITHUB_LOGIN=richardphoenix
KV_REST_API_URL=
KV_REST_API_TOKEN=
GITHUB_REPO_OWNER=richardphoenix
GITHUB_REPO_NAME=x-chinese-spam-blocker
GITHUB_BLOCKLIST_PATH=blocklist/blocklist.json
GITHUB_BRANCH=main
